@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-geist-mono), ui-monospace, SFMono-Regular, monospace;
  --font-fraunces: var(--font-fraunces), serif;
  --font-geist: var(--font-geist), sans-serif;

}

:root {
  color-scheme: light;
}